@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root{
    --cor1: hsl(222, 26%, 31%);
    --cor2: hsl(223, 31%, 20%);
    --cor3: hsl(224, 36%, 15%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: League Spartan;
    background-color:  hsl(268, 75%, 9%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main{
    width: 425px;
    height: 617px;
}

.box1{
    color: hsl(52, 100%, 62%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.6rem;
    height: 20px;
}
.box1 h1{
    font-size: 1.7rem;
}

.numeros{
    color: hsl(52, 100%, 62%);
    width: 425px;
    font-size: 0.6rem;
    display: flex;
    justify-content: end;

}
.numeros p{
    margin: 10px;
}

.theme{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.barra{
    height: 23px;
    width: 70px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: hsl(268, 71%, 12%);
    padding: 3px;
}
.bola{
    display: flex;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color:   hsl(177, 92%, 70%);
    margin-left: 45px;
}

.box2{
    height: 20%;
    margin-top: 25px;
    border-radius: 10px;
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 3rem;

}

.box3{
    height: 65%;
    margin-top: 25px;
    border-radius: 10px;
    background-color: hsl(268, 71%, 12%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
    font-size: 1.7rem;
    margin: 12px;
    border-radius: 10px;
    border: none;
    color: hsl(52, 100%, 62%);
    background-color: hsl(268, 47%, 21%);
    box-shadow: 0px 3px 0px hsl(285, 91%, 52%)
    ;
    font-weight: 700;
}
#button-reset{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.3rem;
    color: white;
    background-color: hsl(281, 89%, 26%);
    box-shadow: 0px 3px 0px hsl(285, 91%, 52%);
    height: 63%;
}
#button-igual{
    grid-column-start: 3;
    grid-column-end: 5;
    height: 63%;
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0px 3px 0px hsl(177, 92%, 70%);
    color: black;
}
#button-del{
    background-color: hsl(281, 89%, 26%);
    color: white;
    font-size: 1.3rem;
}

/* Hover*/
.tecla:hover, .operador:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
#button-reset:hover, #button-del:hover{
    background-color: hsl(181, 36%, 54%);
    cursor: pointer;
}
#button-igual:hover{
    cursor: pointer;
    background-color: hsl(22, 91%, 58%);
}
.bola:hover{
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    
    main{
        width: 350px;
        height: 630px;
    }

    .numeros{
        width: 350px;
    }
}